@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link{
        @apply cursor-pointer hover:underline;
    }
    .button{
        @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200
         to-yellow-400 cursor-pointer border border-yellow-300 rounded-sm 
         focus:outline-none focus:ring-2 focus:ring-yellow-500 
         active:from-yellow-500;
    }

    .fb {
        background-position: 0 0;
      }
      .fb:hover {
        background-position: 0 190px;
      }
      .ig {
        background-position: 0 -38px;
      }
      .quotes {
        color: #fff;
      }
      .ig:hover {
        background-position: 0 152px;
      }
      .linkedIn {
        background-position: 0 -76px;
      }
      .linkedIn:hover {
        background-position: 0 114px;
      }
      .twitter {
        background-position: 0 -114px;
      }
      .twitter:hover {
        background-position: 0 76px;
      }
      .youtube {
        background-position: 0 -152px;
      }
      .youtube:hover {
        background-position: 0 38px;
      }
      
      a div {
        /* margin-left: 10px; */
        display: inline-block;
        background-size: 100%;
        width: 38px;
        height: 38px;
        cursor: pointer;
      }

}
